td.details-control {
    background: url('/datatables/DataTables-1.10.12/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/datatables/DataTables-1.10.12/images/details_close.png') no-repeat center center;
}